<div class="row">
	<div class="col-sm-3 mt-3 mb-3" ng-repeat="albumsArtist in getAlbumsArtist">
		<div class="card" style="width: 16rem;">
			<img src="{{albumsArtist.images[0].url}}" class="card-img-top" alt="Image presentant l'album de l'artiste">
			<div class="card-body">
				<h5 class="card-title">{{albumsArtist.name}}</h5>
				<p class="card-text">Publié le :  {{albumsArtist.release_date}}</p>
				<a style="cursor: pointer;color:white" ng-click="viewAlbums(albumsArtist.id)" class="btn btn-primary">Voir les différentes musiques</a>
			</div>
		</div>
	</div>
</div>
