<div class="row">
    <div class="col-sm-3 mt-3 mb-3" ng-repeat="music in musics">
		<div class="card" style="width: 16rem; height: 340px;">
			<img src="music.jpg" class="card-img-top" alt="Image music">
			<div class="card-body">
                <h5 class="card-title">{{music.name}}</h5>

                <button class="btn btn-success mb-2" ng-click="readMusic(music.preview_url)"
                    style="position: absolute; bottom: 0;">
                    <span class="fa fa-play"></span> Play
                </button>
                <button class="btn btn-danger mb-2 mr-4" ng-click="pauseMusic()"
                style="position:absolute; right:0; bottom: 0;">
                    <span class="fa fa-pause"></span> Pause
                </button>
            </div>
		</div>
	</div>
</div>